---
import BaseLayout from '../layouts/base.astro';
import projects from '../data/project_list.json';
import Main from '../components/main.astro';

const featuredProjects = projects.filter((project) => project.featured);
const currentIndex = 0;
const featuredProject = featuredProjects[currentIndex];
---

<BaseLayout title="Portfolio">

  <div
      id="featured-data"
      data-projects={JSON.stringify(featuredProjects)}
      data-current-index={currentIndex}
      hidden>
  </div>

  <div class="page">

      {featuredProject && (
        <Main 
          project={featuredProject} 
          projects={projects}
          featuredProjects={featuredProjects}
          currentIndex={currentIndex}
          />)}

  </div>

</BaseLayout>