---
import Vimeo from './vimeo.astro';
import Details from './details.astro';
import Tiles from '../components/tiles.astro';
import type { Project } from '../utils/types';

interface Props {
  project: Project;
  projects: Project[];
  featuredProjects: Project[];
  currentIndex: number;  
}

const {projects, featuredProjects, currentIndex } = Astro.props as Props;
---
  
<div class="title">
  <div class="main-title">
    {featuredProjects.map((item, index) => (
      <div class={`title-slide ${index === currentIndex ? 'is-active' : ''}`}>
        <h1 class="featured-title">
          {item.thumbTitle && item.thumbTitle.some(line => line.trim() !== "")
            ? item.thumbTitle
                .filter(line => line.trim() !== "")
                .map((line, i, arr) => (
                  <>
                    {line}
                    {i < arr.length - 1 && <br />}
                  </>
                ))
            : item.title}
        </h1>

        <h2 class="featured-subtitle">{item.subtitle}</h2>
      </div>
    ))}
  </div>
</div>

<div class="grid">

  <div class="main">

    <button title="left" class="button-left js-index"
        data-step="-1">
        <img class="left" src="/icon/arrow_icon.svg" alt="left" /></button>

    <button title="right" class="button-right js-index"
        data-step="1">
        <img class="right" src="/icon/arrow_icon.svg" alt="right" /></button>

    <div class="featured-vimeo">
      {featuredProjects.map((item, index) => (
        <div class={`slide ${index === currentIndex ? 'is-active' : ''}`}>
          <Vimeo project={item} />
        </div>
      ))}
    </div>
  </div>

  <div class="featured-details">
  {featuredProjects.map((item, index) => (
    <div class={`details-slide ${index === currentIndex ? 'is-active' : ''}`}>
      <Details 
        project={item} 
        detailsId={`details-${item.slug}`} 
      />
    </div>
  ))}
  </div>

  <Tiles projects={projects} />

</div>